<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Job Properties</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container" style="max-width: 700px;">
        <div class="card">
            <h2>Edit Existing Vacancy Listing parameters</h2><br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Save Modified parameters Changes</button>
                <a href="{% url 'employer_dashboard' %}" class="btn btn-secondary">Discard</a>
            </form>
        </div>
    </div>
</body>
</html>
